/* Globale Stile */
body {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 10% 15% 50% 15% 10%; 
}

nav {
  grid-column: 1 / 5;
  grid-row: 1 ;
  text-align: center;
  padding: 10px;
  background-color: azure;
}

footer {
  grid-column: 1 / 5; 
  grid-row: 5; 
  text-align: center;
  padding: 10px;
  background-color: azure;
}
#tabelle{
 grid-column: 1;
 grid-row: 2/4;
 background-color: blue;
}
#Testspielanfragen{
  grid-column: 1;
  grid-row: 4/7;
  background-color: gold;
}
#Spielfeld{
  grid-column: 2;
  grid-row: 2/4;
  background-color: gray;
}
#sterne{
  grid-column: 2;
  grid-row: 4/7;
  background-color: brown;
}
#Mannschaftsbild{
  grid-column: 3;
  grid-row: 2/4;
  background-color: purple;
}
#Manschaftsinformationen{
  grid-column: 3;
  grid-row: 4/7;
  background-color: teal;
}