/* Hier werden unsere Schriftfarben festgelegt */
.whiteText{
    color: white;
}

.blackText{
    color: black;
}

/* Hier werden unsere Schriftarten und grössen festgelegt */
.kleinerText{
    font-size: 16px;
}

.normalerText{
    font-size: 18px;
}

.großerText{
    font-size: 21px;
}

/* Hier setzen wir unsere Ueberschriften */
h1 {
    font-size: 30px;
}

h2 {
    font-size: 25px;
}