/*.footer {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: #616467;
    color: #000000;
    height: auto;
}
.footer a {
    color:#ffffff;
    text-decoration: none;
}

.footer a:hover {
    color: rgb(103, 97, 97);
}*/