
.footer {
    display: flex;
    
    justify-content: center;
    align-items: center;
    background: #616467;
}

.footer a {
    padding-left: 15px;
    padding-right: 15px;
    color:white;
    text-decoration: none;
}

.footer a:hover {
    color: black;
}