
.header {
    color: white; 
    background-color: #616467;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav {
    display: flex;
    width: 100%;
}

.nav a {
    flex: 1; /* Verteile den verfügbaren Platz gleichmäßig auf die Links */
    background-color: #616467;
    text-align: center;
    padding: 30px 16px;
    text-decoration: none;
    color: white; /* Textfarbe zu weiß setzen */
}

.nav a:hover {
    background-color: #575a5d; /* Ändere die Hintergrundfarbe bei Hover */
}

