/* Reset some basic elements */
body, h1, p, ul, ol, form, label {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    line-height: 2;
}

.container {
    width: 80%;
    margin: 70px auto;
    padding: 50px;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 25px;
}

h1 {
    margin-bottom: 20px;
    color: black;
}

form {
    display: flex;
    flex-direction: column;
}

form div {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #888;
}

a {
    color: #007bff;
    text-decoration: none;
    margin-right: 15px;
}

a:hover {
    text-decoration: underline;
}

br {
    display: none;
}