/* Reset some basic elements */
.regBody h1 p ul ol form label {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.regBody {
    background-color: whitesmoke;
    line-height: 2;
}

.regcontainer {
    width: 80%;
    margin: 70px auto;
    padding: 50px;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 25px;
}

.formContainerReg {
    margin-bottom: 15px;
}

.formContainerReg label {
    display: block; /* Label über dem Input-Feld anzeigen */
    margin-bottom: 5px;
    font-weight: bold;
    color: black;
}

.formContainerReg input[type="checkbox"] {
    margin-right: 10px; /* Abstand zwischen Checkbox und Text */
}

.inputReg {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 4px;
    alignment: center;
}

.inputReg:focus {
    border-color: black;
}

.anmeldeLink {
    color: cornflowerblue;
    text-decoration: none;
    margin-right:5px;
}