.rund {
	border-radius: 200px;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
    transform: scale(0.2);
}

.img-container {
    width: 300px; 
    height: 300px; 
    border-radius: 50%; 
    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: center;
}


.teamInfo {
    margin: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 25px;
    border: 2px solid black;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap; 
}

.unsereStaerken {
    display: flex;
    flex-direction: column; /* Elemente vertikal anordnen */
    align-items:center; /* Elemente horizontal zentrieren */
}

.unsereStaerken img {
    padding-left: 50px;
    padding-top: 50px;
}

.unsereStaerken label {
    padding-top: 10px;
    padding-left: 50px;
}

.star {
    padding-top: 10px;
    padding-left: 50px;
}

.star img{
    padding-top: 5px;
    padding-left: 5px;
}

.anfrageContainer {
    display: flex;
    flex-direction: column; /* Elemente vertikal anordnen */
    align-items:center; /* Elemente horizontal zentrieren */
}

.anfrageContainer input {
    margin-left: 100px;
    margin-bottom: 25px;
}


