.rund {
	border-radius: 200px;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
    transform: scale(0.2);
}

.img-container {
    width: 300px; 
    height: 300px; 
    border-radius: 50%; 
    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: center;
}


.teamInfo {
    margin: 10px;
    background-color: white;
    border-radius: 25px;
    border: 2px solid black;
    display: flex;
    flex-direction:column;
    align-items: center;
    flex-wrap: wrap; 
}

.teamInfo label {
    padding: 15px;
}

.unsereStaerken {
    margin: 10px;
}

.stars {
    display: flex;
    align-items: column;
}

.stars div {
    margin-bottom: 5px;
}

.stars label {
    padding-top: 5px;
}

.stars img {
    margin-right: 5px;
}

#teamStats {
    display: block;
    flex-direction: row;
    justify-content: space-between;
}