.rund {
	border-radius: 200px;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
    transform: scale(0.2);
}

.img-container {
    width: 300px; 
    height: 300px; 
    border-radius: 50%; 
    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

.teamInfo {
    margin: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 25px;
    border: 2px solid black;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

    max-width: 1000px;
}

.anfrageContainer {
    display: flex;
    flex-direction: column; /* Elemente vertikal anordnen */
    align-items:center; /* Elemente horizontal zentrieren */
}

.anfrageContainer input {
    margin-left: 100px;
    margin-bottom: 25px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}


.img-container img {
    border-radius: 150%;
    max-width: 4000px;
}

form {
    width: 150%;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"], input[type="file"], textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

textarea {
    height: 100px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.spieler {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background: #fafafa;
    text-align: center;
}

.spieler img {
    display: block;
    margin: 10px auto;
    max-width: 200px;
    border-radius: 200px;
}

.deleteSpielerButton {
    background: #e74c3c;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#addSpielerButton, input[type="submit"] {
    background: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#addSpielerButton {
    margin-top: 10px;
    display: block;
}

.anfrageContainer h2 {
    margin-bottom: 10px;
}

.button {
    background: #2ecc71;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}